extends layout

block content
  script.
    var changeField = function (email) {
        var f = document.createElement('form');
        f.setAttribute('method', 'post');
        f.setAttribute('action', '/dashboard/updateUser');

        var i = document.createElement("input");
        i.setAttribute('type', 'email',);
        i.setAttribute('name', 'email');
        i.setAttribute('value', email);
                    var s = document.createElement('input');
        s.setAttribute('type', 'submit');
        s.setAttribute('value', 'Submit');

        f.appendChild(i);
        f.appendChild(s);

        var old = document.getElementById('email');
        old.parentNode.replaceChild(f, old);
    }

  h1 Welcome #{user.first_name}
  img(src="/images/avatars/#{user.avatar}")
  p Info about you:
    p First Name: #{user.first_name}
    p Last Name: #{user.last_name}
    p#email Email: #{user.email}
      button(onclick="changeField('#{user.email}')") Edit
    p Username: #{user.username}
    p Year of Birth: #{user.birthyear}
    br
    h1 Owned Car
    h2 #{user.userCar.carbrand}

