extends ../layout

block content
    h1 List of all orders
    table.car_table
        tr
            th Order Date
            th Reg Nr
            th First Name
            th Last Name
            th Phone Nr
            th Address
            th Zip Code
            th Parts
            th Contact Person
            th Shop Nr
            th Contact Address
        if order_list && order_list.length > 0
            each order in order_list
                tr
                    td #{order.order_date}
                    td #{order.reg_nr}
                    td #{order.customer.first_name}
                    td #{order.customer.last_name}
                    td #{order.customer.phoneNr}
                    td #{order.customer.address}
                    td #{order.customer.zip_code}
                    td #{order.parts}
                    td #{order.shop.contact_person}
                    td #{order.shop.contact_number}
                    td #{order.shop.contact_address}
        else
            tr
                td(colspan=12) No records
